<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="com.ehdgjs.board.domain.BoardRepository">
 
    <select id="searchBoard" resultType="com.ehdgjs.board.web.board.Dto.BoardDto">
        SELECT *
        FROM BOARD
    </select>

    <insert id="setBoard" parameterType="com.ehdgjs.board.web.board.Dto.BoardCreateDto">
        INSERT
        INTO BOARD(BOARD_UID, TITLE, WRITER, CREATE_TIME, CONTENT)
        VALUES(auto_increase.nextval, #{TITLE}, #{WRITER}, #{CREATE_TIME}, #{CONTENT})
    </insert>

    <update id="updateBoard" parameterType="com.ehdgjs.board.web.board.Dto.BoardUpdateDto">
        UPDATE BOARD
        SET TITLE = #{TITLE}, WRITER = #{WRITER}, CONTENT = #{CONTENT}, MODIFY_TIME = #{MODIFY_TIME}
        WHERE BOARD_UID = #{BOARD_UID}
    </update>
 
    <delete id="deleteBoard" parameterType="Long">
        DELETE
        FROM BOARD
        WHERE BOARD_UID = #{BOARD_UID}
    </delete>

    <delete id="deleteBoardAll">
        DELETE
        FROM BOARD
    </delete>

</mapper>